<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <variable name="mails_error_smtpserver" value="smpt.mail.ru"/>
  <variable name="mails_error_reciever" value="biryukov-10@list.ru"/>
  <variable name="mails_error_sender" value="biryukov-10@list.ru"/>
  <variable name="mails_error_sender_password" value="vHEEUj9aLs6LRmQez1sX"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="mail" 
          xsi:type="Mail"
          smtpServer="${mails_error_smtpserver}"
          smtpPort="25"
          smtpUserName="${mails_error_reciever}"
          smtpPassword="${mails_error_sender_password}"
          enableSsl="True"
          smtpAuthentication="Basic"
          subject="WorkControl: Errors"
          from="${mails_error_sender}"
          to="${mails_error_reciever}"
          layout="${longdate}   LEVEL=${uppercase:${level}},               
                  MESSAGE=${message}${newline} EXCEPTION=${exception:format=tostring,StackTrace}${newline}" />    
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" level="Fatal" writeTo="Mail" />
    <logger name="*" level="Trace" writeTo="Mail" />
    <logger name="*" level="Error" writeTo="Mail" />
    
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
